*{
     margin:0px;
     padding: 0px;
     box-sizing: border-box
}

/*Utility classes*/
.container{
    margin:auto;
    max-width: 1100px;
    overflow: auto;
    padding:0 20px;
}


/*Main*/
html,body{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     line-height: 1.7em;
}

a{
    color:#333;
    text-decoration: none;
}

h1,h2,h3{
    padding-bottom: 20px;
}

/*navbar*/

#navbar{
    background-color: #333;
    color:#fff;
    overflow:auto;
}

#navbar a{
    color:white;
}


#navbar ul{
    list-style:none;
    float: right;
}

#navbar ul li{
    float:left;
    list-style: none;
}

#navbar ul li a{
     display: block;
    padding: 20px;
    text-align: center;
    }


#main-footer{
    text-align:center;
    background:#444;
    color:white;
    padding:20px;
}


/*About*/
#description .about-img{
    background: url('../images/IMG_2757.jpeg') no-repeat center center/cover;
    height:200px;
    width:200px;
    border-radius: 55%;
    margin:auto;
    padding-top:50px;
}

